= link_to 'Вход', 'javascript:undefuned', class: 'signin-link', onclick: "yaCounterReachGoal('SIGN_IN'); return true;"
- unless hide_signup
  = link_to 'Регистрация', 'javascript:undefined', class: 'signup-link', onclick: "yaCounterReachGoal('SIGN_UP'); return true;"
