<h1>Добро пожаловать на LifeGame | и небольшой вопрос</h1>

<p>
  Уважаемый(ая), <%= @user.full_name %>!
</p>

<p>
  Мне очень приятно, что вы присоединились к проекту LifeGame. И я надеюсь, что вам понравится быть частью нашего сообщества активных людей
  и предпринимателей, которые стремятся к непрерывному развитию.
</p>

<p>
  Мне хотелось бы знать, что именно вы ожидаете от сервиса LifeGame?
</p>

<p>
  Я задаю этот вопрос по тому, что только зная ваши ожидания, мы сможем быть максимально полезными в том,
  чтобы помочь вам добиться выдающихся результатов в бизнесе и в жизни. Если у вас есть какие-то вопросы или предложения относительно сервиса LifeGame,
  просто <b>нажмите на кнопку "ответить"</b> и дайте мне знать. Я и вся наша команда будем рады ответить на любые интересующие вас вопросы.
</p>

<p>
  С уважением,<br/>
  Ярослав Бабенко</br>
  Основатель проекта LifeGame
</p>

<p style="color:#bababa;">
  Компания «LifeGame». Воронеж, Челюскинцев ул., 101в <a href="http://lifegame.bz">http://lifegame.bz</a>, <a href="mailto:info@lifegame.bz">info@lifegame.bz</a>
</p>
