= ix_image_tag 'landing/businesshack/franklin.jpg'
= ix_image_tag 'landing/businesshack/faces.png', fm: 'jpg'
= ix_image_tag 'landing/businesshack/deserter.png'
= ix_image_tag 'landing/businesshack/leadscanner.png'
= ix_image_tag 'landing/businesshack/magnifier.png'
= ix_image_tag 'landing/businesshack/mac.png', fm: 'jpg', w: 1200, q: 80
= ix_image_tag 'landing/businesshack/illusionists.png', fm: 'jpg', w: 1920
= ix_image_tag 'landing/businesshack/troubles.png', fm: 'jpg', w: 1920
= ix_image_tag 'landing/businesshack/rouble.png', fm: 'jpg'
= ix_image_tag 'landing/businesshack/currencies.png', fm: 'jpg', w: 1920
