script type='text/javascript' src='//yastatic.net/share/share.js' charset='utf-8'
div.yashare-auto-init data-yashareL10n='ru' data-yashareType='small' data-yashareQuickServices='vkontakte,facebook,twitter' data-yashareTheme='counter'
